.modal-preload {
    background: url('../assets/bg_rgba80.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.modal-preload .circles {
    height: 140px;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 140px;
}

.modal-preload .circles .circle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1s ease-in-out 0s normal none infinite running spinPulse !important;
    -moz-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
    -webkit-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 4px 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    height: 140px;
    margin: 0 auto;
    opacity: 0.8;
    position: relative;
    width: 140px;
}

.modal-preload .mainLogo {
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.modal-preload .mainLogo .preloadEc {
    display: block;
    height: 55px;
    margin: 0px auto 5px;
    width: 90px;
}

@-moz-keyframes spinPulse {
    0% {
        opacity: 0;
        transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-320deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        opacity: 0;
        transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-320deg);
    }
}